#properties
  %h2
    %span.name= @list.name
    %ul.pull-right.page-selector
      - if can?(:modify_properties, @list)
        %li.btn.delete{:title => "Delete"}
          %li.separator &bull;
      %li.btn.clone{"data-page-name" => "clone", :title => "Clone"}
      - if can?(:modify_properties, @list)
        %li.btn.settings{"data-page-name" => "settings", :title => "Settings"}
      %li.btn.list.active{"data-page-name" => "list", :title => "List"}
  
  - unless owner?(@list)
    .author
      by
      = author(@list)

  .shares
    - if @list.show_tweet_this
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      %a.twitter-share-button{href: "https://twitter.com/share", "data-text" => "Found a cool list, \"#{@list.name}\" @ " }
    
    - if @list.show_facebook_like
      :javascript
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=44575410254";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      #fb-root
      .fb-like{"data-href" => list_url(@list), "data-send" => "true", "data-layout" => "button_count", "data-width" => "450"}

  .description.clearfix
    = @list.description
.row
  #pages.span
    .row
      #app.page.span14
        #commands
          %p
            Keyboard Commands
            - if user_signed_in?
              == (<a href="#" class="toggle">#{preferences["show-commands"] ? "hide" : "show"}</a>)    
          %table.bordered-table{:style => ("display:none" if user_signed_in? && !preferences["show-commands"]) }
            %tr
              %td <span class="key">enter</span>
              %td save current line and add new line below
            %tr
              %td <span class="key">shift</span> + <span class="key">enter</span>
              %td save current line and add new line above
            %tr
              %td <span class="key">ctrl</span> + <span class="key">enter</span>
              %td save current line and add new line, indented
            %tr
              %td <span class="key">esc</span>
              %td toggle editing
            %tr
              %td <span class="key">backspace</span>, <span class="key">del</span>
              %td delete line
            %tr
              %td <span class="key">space</span>
              %td toggle complete
            %tr
              %td <span class="key">&#8593;</span>
              %td select previous line
            %tr
              %td <span class="key">&#8595;</span>
              %td select next line
            %tr
              %td <span class="key">ctrl</span> + <span class="key">&#8593;</span>
              %td move line up
            %tr
              %td <span class="key">ctrl</span> + <span class="key">&#8595;</span>
              %td move line down
            %tr
              %td <span class="key">x</span>
              %td indent
            %tr 
              %td <span class="key">z</span>
              %td outdent
      - if can?(:modify_properties, @list)
        #properties-form.page.span14
          %h3 List Settings
          %form.form-stacked
            = render :partial => 'form'          
          %h4 Sharing
          - if anonymous?
            .alert-message.block-message
              %p Once you've signed up, your Access settings will be saved. In the mean time, the interface will continue to work so you can get a feel for it.

          %p  Buttons will be shown or hidden when you refresh the page.
          %ul.sharing
            %li
              %label
                %input#show-tweet-this{type: "checkbox", name:"show-tweet-this", checked: @list.show_tweet_this}
                Show "tweet this" button
            %li
              %label
                %input#show-facebook-like{type: "checkbox", name:"show-facebook-like", checked: @list.show_facebook_like}
                Show "like this" facebook button

          %table.bordered-table#access
            %thead
              %tr
                %th User
                %th Read
                %th Read + Write
                %th No Access
            %tbody
              %tr.everyone
                %td everyone
                %td.option.read{:class => ("selected" if @list.global_permission == ListPermissions::READ)}
                %td.option.read-write{:class => ("selected" if @list.global_permission == ListPermissions::WRITE)}
                %td.option.none{:class => ("selected" if @list.global_permission == ListPermissions::NONE)}
          %p Enter username to share this list
          %input#username
      #clone.page.span14
        %h3 Clone List
        = form_tag clone_list_path(@list), :method => "put", :class => "form-stacked" do
          = render :partial => 'form'
          %input.btn.primary{:type => "submit", :value => "Clone List"}      
