- @body_id = "list"
:javascript
  App.data.list = #{JSON.generate(@list.attributes.to_hash)}
  App.data.listShares = #{JSON.generate(list_shares(@list))}
  App.setup()

#properties
  %h2
    %span.name= @list.name
    .pull-right
      %button.btn.settings{:href => "#", "data-controls-modal" => "properties-form", "data-backdrop" => "true"}
        %img{:src => "/images/158-wrench-2.png"}
  .description
    = @list.description
#new.modal
  .modal-header
    %a.close{:href => "#"}x
    %h3 New List
  .modal-body
    = form_tag lists_path, :method => "post", :class => "form-stacked" do
      = render :partial => 'form'
  .modal-footer
    %a.btn.primary{:href => "#"}Save
    %a.btn.secondary.cancel{:href => "#"}Cancel
#app
#properties-form.modal
  .modal-header
    %a.close{:href => "#"}x
    %h3 List Settings
  .modal-body
    %form.form-stacked
      = render :partial => 'form'
    %h4 Access
    %table#access
      %thead
        %tr
          %th User
          %th Read
          %th Read + Write
          %th No Access
      %tbody
        %tr.everyone
          %td everyone
          %td.option
          %td.option.selected
          %td.option.none
    %p Enter username to share this list
    %input#username
  .modal-footer
    %a.btn.primary{:href => "#"}Done
  
#commands
  %p Commands
  %table
    %tr
      %td <span class="key">enter</span>
      %td save current line and add new line below
    %tr
      %td <span class="key">shift</span> + <span class="key">enter</span>
      %td save current line and add new line above
    %tr
      %td <span class="key">ctrl</span> + <span class="key">enter</span>
      %td save current line and add new line, indented
    %tr
      %td <span class="key">esc</span>
      %td toggle editing
    %tr
      %td <span class="key">backspace</span>, <span class="key">del</span>
      %td delete line
    %tr
      %td <span class="key">space</span>
      %td toggle complete
    %tr
      %td <span class="key">&#8593;</span>
      %td select previous line
    %tr
      %td <span class="key">&#8595;</span>
      %td select next line
    %tr
      %td <span class="key">ctrl</span> + <span class="key">&#8593;</span>
      %td move line up
    %tr
      %td <span class="key">ctrl</span> + <span class="key">&#8595;</span>
      %td move line down
    %tr
      %td <span class="key">x</span>
      %td indent
    %tr 
      %td <span class="key">z</span>
      %td outdent

- content_for :sidebar do
  - if @lists
    .organizer
      %h5 Lists
      %ul.lists
        - @lists.each do |list|
          %li{class: "#{("selected" if @list == list)} list-#{list.id}"}= link_to list.name, list_path(list)
      
      .add
        %a{:href => "#", "data-controls-modal" => "new", "data-backdrop" => "true"}+ Add List
  - else
    = form_tag anonymous_user_registration_path, :class => "form-stracked" do
      %p
        %button.success.btn.large Create Checklist Now
    
  - if anonymous?
    #to-anonymous.alert-message.block-message
      %p
        %strong Hi anonymous user!
      %p As an anonymous user, you can add lists and share them with others by giving them your list's URL.
      
      %p
        If you like Checklist Hub, please do
        = succeed "." do
          = contextual_sign_up
        All the lists you've made will stay with your new account, and you'll be able to:
      
      %ul
        %li Log in from any browser
        %li Create private lists
        %li Keep track of other people's lists
        %li Privately share your lists with others
