- @body_id = "list"
:javascript
  App.setup(#{JSON.generate(@list.attributes.to_hash)})

#properties
  %h2
    %span.name= @list.name
    .pull-right
      %button.btn.settings{:href => "#", "data-controls-modal" => "properties-form", "data-backdrop" => "true"}
        %img{:src => "/assets/158-wrench-2.png"}
  .notes
    = @list.notes

#app
#properties-form.modal
  .modal-header
    %a.close{:href => "#"}x
    %h3 List Settings
  .modal-body
    %form.form-stacked
      .clearfix
        %label{:for => "name"} List Name
        .input
          %input.span8.input.name{:name => "name", :value => @list.name}
      .clearfix
        %label{:for => "notes"} Notes
        .input
          %textarea.span8.notes{:rows => 4, :name => "notes"}= @list.notes
      %h4 Access
      %table#access
        %thead
          %tr
            %th User
            %th Read
            %th Read + Write
            %th Admin
            %th No Access
        %tbody
          %tr
            %td everyone
            %td.option
            %td.option
            %td.option.selected= image_tag("258-checkmark.png")
            %td.option
  .modal-footer
    %a.btn.primary{:href => "#"}Save
    %a.btn.secondary.cancel{:href => "#"}Cancel
  
#commands
  %p Commands
  %table
    %tr
      %td <span class="key">enter</span>
      %td save current line and add new line below
    %tr
      %td <span class="key">shift</span> + <span class="key">enter</span>
      %td save current line and add new line above
    %tr
      %td <span class="key">ctrl</span> + <span class="key">enter</span>
      %td save current line and add new line, indented
    %tr
      %td <span class="key">esc</span>
      %td toggle editing
    %tr
      %td <span class="key">backspace</span>, <span class="key">del</span>
      %td delete line
    %tr
      %td <span class="key">space</span>
      %td toggle complete
    %tr
      %td <span class="key">&#8593;</span>
      %td select previous line
    %tr
      %td <span class="key">&#8595;</span>
      %td select next line
    %tr
      %td <span class="key">ctrl</span> + <span class="key">&#8593;</span>
      %td move line up
    %tr
      %td <span class="key">ctrl</span> + <span class="key">&#8595;</span>
      %td move line down
    %tr
      %td <span class="key">x</span>
      %td indent
    %tr 
      %td <span class="key">z</span>
      %td outdent

- content_for :sidebar do
  .organizer
    %h5 Lists
    %ul.lists
      - @lists.each do |list|
        %li{class: "#{("selected" if @list == list)} list-#{list.id}"}= link_to list.name, list_path(list)