- @body_id = "list"
- if @list
  :javascript
    App.data.list = #{@list.to_json}
    App.data.listShares = #{can?(:modify_properties, @list) ? JSON.generate(list_shares(@list)) : "null"}
  = render :partial => 'list'
- else
  = render :partial => 'not_findable'

:javascript
  App.data.user = #{current_user.to_json}
  App.data.permissions = #{permissions_for(@list).to_json}
  App.setup()

#new.modal
  .modal-header
    %a.close{:href => "#"} x
    %h3 New List
  .modal-body
    = form_tag lists_path, :method => "post", :class => "form-stacked" do
      = render :partial => 'form', :locals => {name: 'New List', description: ""}
  .modal-footer
    %a.btn.primary{:href => "#"}Save
    %a.btn.secondary.cancel{:href => "#"}Cancel


- content_for :sidebar do
  - if @lists
    .organizer
      %h5 Lists
      %ul.lists
        - @lists.each do |list|
          %li{"data-list-id" => list.id, class: "#{("selected" if @list == list)}"}= link_to list.name, list_path(list)
      
      .add
        %a{:href => "#", "data-controls-modal" => "new", "data-backdrop" => "true"}+ Create New List
  - else
    = form_tag anonymous_user_registration_path, :class => "form-stacked create" do
      %p
        %button.success.btn.large Create Checklist Now
    
  - if anonymous?
    #to-anonymous.alert-message.block-message
      %p
        %strong Hi anonymous user!
      %p As an anonymous user, you can add lists and share them with others by giving them your list's URL.
      
      %p
        If you like Checklist Hub, please do
        = succeed "." do
          = contextual_sign_up
        All the lists you've made will stay with your new account, and you'll be able to:
      
      %ul
        %li Log in from any browser
        %li Create private lists
        %li Keep track of other people's lists
        %li Privately share your lists with others
