.container
  .content.start
    .page-header
      %h1 
        Checklist Hub
        %br
        %small
          A home for checklist junkies
    .row.start-now
      .span5
        %h3 Sign Up
        = form_for current_user, :as => :user, :url => registration_path(current_user), :html => {:class => "form-stacked"} do |f|
          .clearfix
            = f.label :email
            .input
              = f.text_field :email

          .clearfix
            = f.label :password
            .input
              = f.password_field :password

          .clearfix
            = f.label :password_confirmation
            .input
              = f.password_field :password_confirmation
          .clearfix
            %input.primary.btn{:type => "submit", :value => "Sign up"}
          