.container
  .content.start
    .page-header
      %h1 
        = I18n.t("site_name")
        %br
        %small
          = I18n.t("tag_line")
    .row.start-now
      .span5
        %h3 Sign Up
        %p== You're about to unlock some #{I18n.t("site_name")} features. Woohoo!
        = form_for current_user, :as => :user, :url => anonymous_user_registration_path(current_user), :html => {:class => "form-stacked", :method => "put"} do |f|
          .clearfix
            = f.label :username
            .input
              = f.text_field :username
              
          .clearfix
            = f.label :email
            .input
              = f.text_field :email

          .clearfix
            = f.label :password
            .input
              = f.password_field :password

          .clearfix
            = f.label :password_confirmation
            .input
              = f.password_field :password_confirmation
          .clearfix
            .row
              .span5
                %input.primary.btn{:type => "submit", :value => "Sign up"}
                = link_to "Cancel", lists_path, :class => "btn secondary pull-right"