%h2 Forgot your password?

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-stacked" }) do |f|
  = devise_error_messages!

  .clearfix{add_error_class(resource, :email)}
    %label{:for => "user_email"} Email
    = f.email_field :email
    
  .clearfix
    = f.submit "Send me reset password instructions", :class => "primary btn"

= render :partial => "devise/shared/links"