%h2 Log in

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-stacked"}) do |f|
  = devise_error_messages!
  
  .clearfix{add_error_class(resource, :username)}
    %label{:for => "user_username"} Username
    = f.text_field :username

  .clearfix{add_error_class(resource, :password)}
    %label{:for => "user_password"} Password
    = f.password_field :password

  - if devise_mapping.rememberable?
    .clearfix
      %label{:for => "user_remember_me"}
        = f.check_box :remember_me, :value => "true"
        Remember Me

  = f.submit "Log in", :class => "primary btn"

= render :partial => "devise/shared/links"