.row
  .span10
    .content
      %h2 Log in

      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-stacked"}) do |f|
        .clearfix
          = f.label :email
          .input= f.email_field :email
  
        .clearfix
          = f.label :password
          .input= f.password_field :password

        - if devise_mapping.rememberable?
          .clearfix
            %label{:for => "user_remember_me"}
              = f.check_box :remember_me
              Remember Me

        = f.submit "Log in", :class => "primary btn"

      = render :partial => "devise/shared/links"