!!!
%html
  %head
    %title== Checklist Hub
    = stylesheet_link_tag 'application'
    = javascript_include_tag '/javascripts/jquery-1.7.min.js', '/javascripts/keycode.js', '/javascripts/jquery.hotkeys.js', '/javascripts/underscore.js', '/javascripts/backbone.js', "/javascripts/bootstrap-modal", '/javascripts/jquery-ui-1.8.16.custom.min.js', '/javascripts/jquery.nestedSortable.js'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %link{:rel => "icon", :type => "image/png", :href => "/images/259-list.png"}
  %body{:id => @body_id}
    .topbar
      .listfill
        .container-fluid
          %a.brand{:href => "#"} Checklist Hub
          - if user_signed_in?
            .pull-right
              - if anonymous?
                #log-out-forever.hide.modal
                  .modal-header
                    %a.close{:href => "#"}x
                    %h3 Log out forever?
                  .modal-body
                    Are you sure you want to log out? Since you don't have an account, you won't be able to access your lists again. If you
                    = succeed "," do
                      = contextual_sign_up
                    your lists can be retrieved and you'll be able to sign in again.
                  .modal-footer
                    %a.btn.danger{:href => destroy_user_session_path}Log Out Forever
                    %a.btn.secondary.cancel{:href => "#"}Cancel
                  
                %p
                  anonymous mode &bull;
                  = link_to "sign up", edit_anonymous_user_registration_path(current_user)
                  &bull;
                  = link_to "log in", new_user_session_path
                  &bull;
                  %a{:href => "#", "data-controls-modal" => "log-out-forever", "data-backdrop" => "true"}log out forever
              - else
                %p
                  == logged in as #{link_to current_user.email, edit_user_registration_path(current_user)}
                  &bull;
                  = link_to "logout", destroy_user_session_path
              
          - else
            %form.pull-right{:action => ""}
              %input.input-small{:placeholder => "Username", :type => "text"}/
              %input.input-small{:placeholder => "Password", :type => "password"}/
              %button.btn{:type => "submit"} Log in
    .container-fluid
      .sidebar
        = yield :sidebar
      #main
        .row
          .span14
            = yield