!!!
%html
  %head
    %title== Checklist Hub
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery-1.4.4.js', 'jquery.hotkeys.js', 'underscore.js', 'backbone.js'
    = javascript_include_tag 'application'
    = yield :extra_javascripts
    = csrf_meta_tag
  %body
    #wrapper
      #navigation        
      = yield
    #footer
      = yield :footer